/*----- global -----*/
*{
  margin:0;
  padding:0;
  border:0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-family: Circular Std,sans-serif;
}
body {
  width: 100%;
  background-color: #E7E5DE;
}
h1 {
  font-size: 36px;
  font-weight: 700;
  color: #4A4A4A;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  color: #607D8B;
}
p {
  font-size: 24px;
  font-weight: 400;
  color: #BDBDBD;
}
/*----- mainTile -----*/
.mainTile {
  background-color: #fff;
  width: 625px;
  margin: 50px auto 50px auto;
  border-radius:30px;
  box-shadow: 0px 0px 100px 0 rgba(74,74,74,0.2);
  position: relative;
}
.mainTile h1 {
  text-align: center;
  padding: 30px 0 60px 0;
}
#floaty {
  z-index: 1;
  position: absolute;
  left: 65px;
  top: 195px;
}
.mainTile h2,select.tippings,.billTotal, input.split {
  margin-left: 94px;
}
.billTotal, .split {
  width: 375px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #BDBDBD;
  padding-left: 25px;
  margin-bottom: 30px;
}
.billTotal:focus, .split:focus, .tippings:focus {
  border: 2px solid #388E3C;
}
.tippings {
  width: 325px;
  height: 50px;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  margin-bottom: 30px;
}
.split::placeholder,.billTotal::placeholder {
  color: #BDBDBD;
}
.btn {
  background-color: #bcd0bd;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  width: 300px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  margin: 0px 163px 40px 163px;
}
.appended {
  text-align: center;
  font-weight: 500;
  padding: 20px 0px 50px 0px;
  color: #4a4a4a;
  font-size: 24px;
}
